<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SaveIt</title>
    <link rel="stylesheet" href="static/css/styles.css"/>
    <script src="static/js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="input-container">
        <form id="url-form">
          <input type="url" id="url-input" placeholder="Enter URL to parse" required />
          <div class="button-container">
            <button type="submit" class="primary-button">Parse</button>
            <button type="button" id="saves-button" class="secondary-button">Saves</button>
          </div>
        </form>
      </div>
      <div id="loading" style="display: none;">
        <div class="spinner"></div>
      </div>
      <div id="result" style="display: none;"></div>
      <div id="error-message" style="display: none;"></div>
    </div>
  </body>
</html>
